row,
body {
  box-sizing: border-box;
  max-width: 100%;
  margin: 15px;
  padding: 1em;
}

.social-btn {
  padding: 2px 5px 2px 4px;
  height: 30px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 3px;
  float: right;
  background-color: #eee;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(100%,#eee));
  background-image: -webkit-linear-gradient(top,#fcfcfc 0,#eee 100%);
  background-image: -moz-linear-gradient(top,#fcfcfc 0,#eee 100%);
  background-image: -ms-linear-gradient(top,#fcfcfc 0,#eee 100%);
  background-image: -o-linear-gradient(top,#fcfcfc 0,#eee 100%);
  background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#eeeeee', GradientType=0);
  background-repeat: no-repeat;
  border: 1px solid #d5d5d5;
}

.fa {
  margin-right: 5px;
}

a.social-btn {
  text-transform: none;
  font-size: 14px;
}
.social-btn:focus, .social-btn:hover {
    text-decoration: none;
    background-color: #ddd;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(100%,#ddd));
    background-image: -webkit-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: -moz-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: -ms-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: -o-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: linear-gradient(to bottom,#eee 0,#ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
    border-color: #ccc;
}
.skype-btn p,
.skype-btn img {
    margin: 0 !important;
    vertical-align: 0 !important;
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 300;
}

.header-logo {
  padding: 1em;
}

.header-title {
  margin-top: 1em;
}

.white {
  color: white;
}
.orange {
  color: orange;
}
h1 {
  font-family: 'Lato', sans-serif;
  color: #bcbbbb;
  font-weight: 500;
  font-size: 40px;
  margin: 0 auto;
}

h3,
h4 {
  font-family: 'Lato', sans-serif;
  color: orange;
}

.title-super {
  font-size: 40px;
  margin-left: 15px;
  text-align: left;
}

hr {
  margin-top: 1px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #bcbbbb;
}

figure {
  margin: 1em 0 1em 0;
}

figcaption {
  padding: 2em 0;
  text-align: center;
}

.img-style:hover .bg-fill {
  background-color: rgba(0, 0, 0, 0.58);
}

.img-style:hover .img-info {
  opacity: 1;
  top: 5%;
}

.img-style .bg-fill {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  zoom: 1;
  background-color: rgba(0, 0, 0, 0.0);
  background-image: none;
  box-sizing: border-box;
}

.img-info {
  opacity: 0;
  position: absolute;
  top: 5%;
  width: 90%;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  color: #FFF;
  zoom: 1;
  text-align: center;
  margin: 0 0 12px;
  letter-spacing: 1px;
/*  line-height: 100%;*/
}

li {
    text-align: justify;
    list-style: none;
    display: inline-block;
    margin-right: 1em;
}

ul li:last-child{
    margin-right: 0;
}

img,
embed,
object,
video {
  max-width:100%;
}

/* Comments */
