row,
body {
  box-sizing: border-box;
  max-width: 100%;
  margin: 15px;
  color: #333333;
  font-family: 'Source Sans Pro', sans-serif;
}

.fadein {
  opacity: 0;
  -moz-transition: opacity 3.5s ease;
  -webkit-transition: opacity 3.5s ease;
  -o-transition: opacity 3.5s ease;
  transition: opacity 3.5s ease;
}

.easein.loaded{
  transform: translateY(371px);
  -moz-transition: 3.5s ease;
  -webkit-transition: 3.5s ease;
  -o-transition: 3.5s ease;
  transition: 3.5s ease;
}
.fadein.loaded {
  opacity: 1;
}

/*.hidden{
    visibility: hidden;
}*/

a,
a:hover,
a:active,
a:focus {
    outline: none;
    color: orange;
    text-decoration: none;
}

a {
    color: orange;
}
.header{
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 5px 10px;
    width: 100%;
    background: white;
}
.header img {
    max-width: 33.3333%;
    display: inline-block;
    position: absolute;
    top: -340px;
}
.header .mylogo-container{
    max-width: 33.3333%;
    display: inline-block;
    position: absolute;
/*    top: -340px;*/
/*    top: -445px;*/
    top: -550px;
}


.header a {
    float: right;
}
.header p {
    margin: 32px 0px 20px;
    font-size: 24px;
}

.social-btn {
  padding: 4px 5px 2px 5px;
  height: 30px;
  width: 95px;
  text-align: center;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 3px;
  float: right;
 }

.fa {
  margin-right: 5px;
}

a.social-btn {
  text-transform: none;
  font-size: 14px;
  color: grey;
}
.social-btn:focus, .social-btn:hover {
    text-decoration: none;
    background-color: #ddd;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(100%,#ddd));
    background-image: -webkit-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: -moz-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: -ms-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: -o-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: linear-gradient(to bottom,#eee 0,#ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
    border-color: #ccc;
    color: black;
}
.skype-btn p,
.skype-btn img {
    margin: 0 10px 0 10px !important;
    vertical-align: -4px !important;
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 300;
}

.header-logo {
  padding: 1em;
}

.header-title {
  margin-top: 1em;
}

.white {
  color: white;
}
.orange {
  color: orange;
}
h1 {
  font-family: 'Lato', sans-serif;
  color: #bcbbbb;
  font-weight: 500;
  font-size: 40px;
  margin: 0 auto;
  line-height: 1.2;
}

h3,
h4 {
  font-family: 'Lato', sans-serif;
}

.title-super {
  font-size: 40px;
  margin-left: 15px;
  text-align: left;
}

hr {
  margin-top: 1em;
  border: 0;
  border-top: 1px solid #bcbbbb;
}

figure {
  margin: 1em 0 1em 0;
}

figcaption {
  padding: 2em 0;
  text-align: center;
}

.img-style:hover .bg-fill {
  background-color: rgba(0, 0, 0, 0.58);
}

.img-style:hover .img-info,
.img-style:hover .footer {
  opacity: 1;
/*  top: 30%;*/
}

.img-banner:hover,
.img-banner:active,
.img-banner:focus {
  background-color: black;
  opacity: 0.88;
}

.img-style .bg-fill {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
    zoom: 1;
    background-color: rgba(0, 0, 0, 0.0);
    background-image: none;
    box-sizing: border-box;
}

.img-info {
  opacity: 0;
  position: absolute;
/*  top: 60px;*/
  top: 33%;
  width: 100%;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  color: #FFF;
  zoom: 1;
  text-align: center;
  letter-spacing: 2px;
  line-height: 150%;
}

li {
    text-align: justify;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0px;
    margin: 1%;
}

.img-info h1 {
    padding-top: 15px;
}

.img-info li {
    padding: 0;
}

img,
embed,
object,
video {
  max-width:100%;
}

/* Comments */

.footer {
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 1px;
    position: fixed;
    bottom: 0px;
    /* left: 10px; */
    /* margin-bottom: 1em; */
    font-size: 14px;
    text-align: center;
    /* color: orange; */
    /* padding: 10px; */
    margin: 0;
/*    background-color: white;*/
    color: white;
    padding-bottom: 5px;
    width: 100%;
    opacity: 0;
}
.footer p {
    margin: 0;
    font-size: 18px;
}

ul.card {
    padding-left: 0px;
    border-top: 1px solid black;
    width: 95%;
    margin: 0 10px;
}

.img-info ul{
    text-align: left;
    margin: auto auto auto 1%;
    display: inline-block;
    text-transform: uppercase;
}

.contact-title {
    text-align: left;
    margin: 0 0 10px 25px;
    width: 90%;
}
h4.contact-title {
    margin: 10px 0 2em 25px;
    letter-spacing: 2px;

}
p.contact-title {
    font-size: 16px;
}

img.contact-title {
    padding-bottom: 0px;
    color: orange;
    display: block;
    text-align: center;
    margin: auto;
    height: 70px;
    padding-top: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Courier New", Courier, monospace;
    border-bottom: 1px solid black;
}

img.card {
    padding-bottom: 0px;
    display: block;
    margin-left: 1em;
    width: 60%;
/*    padding-top: 25px;*/
}

.contact.card {
    border-radius: 15px;
    box-shadow: lightgrey 1px 10px 10px 8px;
/*
    width: 52%;
    max-width: 480px;
*/
    text-align: center;
    margin: auto;
/*    padding: 10px;*/
    background-color: white;
    color: grey;
}

.card {

    font-size: 20px;
    line-height: 19px;
    background-color: white;

}

.end {
    background-color: white;
    height: 40px;
}

.text-left {
    float: left;
}

.qrcode {
    float: right;
/*    width: 130px;*/
    max-width: 150px;
    margin: 10px;
}

.break {
    display: none;
}



.my-projects {
    display: none;
}

.img-banner {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/Gueghard_1600.jpg") center 100% / cover no-repeat;
    z-index: -100;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}





.img-info-left {
    width: 25%;
    float: left;
    padding: 0 1em;
    text-align: left;
}

.img-info-right {
    width: 55%;
    float: right;
    padding: 0 2em;
    text-align: left;
}
