 /*
* These are the responsive styles.
*/

@media screen and (max-width: 1268px){
  .header p {
    margin: 12px 0px;
    font-size: 20px;
  }
}
/* For medium screens such as Ipad, Tablet, etc. */
@media screen and (max-width: 992px){
  .header-logo {
    position: relative;
    width: 33.33%;
    float: left;
  }

  .header-title {
    position: relative;
    width: 66.66%;
    float: left;
  }

  h1 {
    font-size: 30px;
  }

  h3,
  .title-super {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
  }

  h4 {
    font-size: 20px;
  }

  .col-md-4 {
    width: 33.33%;
    float: left;
  }
}

@media screen and (max-width: 768px){
  .header p {
    margin: 4px 0px;
    font-size: 20px;
  }
  .title-super,
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 502px) {
    .qrcode {
        display: none;
    }
}

/* For screens such as mobile phones*/
@media screen and (max-width: 414px) {
  .header-logo {
    display: none;
  }

  .header-title,
  h1,
  h3,
  h4 {
    font-size: 20px;
    text-align: center;
  }

  .title-super {
    font-size: 20px;
    text-align: center;
  }

  .img-info h1,
  .img-info h3{
    font-size: 16px !important;
  }
  .qrcode {
    display: none;
  }
  .contact.card {
    box-shadow: none;
  }
  img.card {
    width: 95%;
  }
  h4.contact-title {
    width: 100%;
    font-size: 18px;
  }
  .social-btn {
    width: auto;
  }

  .header img {
    max-width: 66.6666%;
  }
  .header p {
    margin: 12px 0px;
    font-size: 16px;
  }
}

@media screen and (max-width: 380px) {
    .header p{
        margin: 10px 0px;
        font-size: 16px;
    }

    .header img {
    max-width: 66.6666%;
    }

    .qrcode {
    display: none;
    }
    .break{
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .header p{
        margin: 6px 0px;
        font-size: 16px;
    }

    .header img {
    max-width: 66.6666%;
    }

    .qrcode {
    display: none;
    }
}



